In [12]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/My Drive/Data/Movie dataset/movies_metadata.csv')
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [13]:
df.shape

(45466, 24)

In [14]:
#Calculate the number of votes garnered by the 80th percentile movie
m = df['vote_count'].quantile(0.80)
m

50.0

In [15]:
#Only consider movies longer than 45 minutes and shorter than 300 minutes
q_movies = df[(df['runtime'] >= 45) & (df['runtime'] <= 300)]

#Only consider movies that have garnered more than m votes
q_movies = q_movies[q_movies['vote_count'] >= m]

#Inspect the number of movies that made the cut
q_movies.shape

(8963, 24)

In [16]:
q_movies.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
4  False  ...      173.0
5  False  ...     1886.0

[5 rows x 24 columns]

In [17]:
# Calculate C
C = df['vote_average'].mean()
C

5.618207215133889

In [19]:
# Function to compute the IMDB weighted rating for each movie
# m: number of vote average (50)
# C: vote average (5.618) 
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    # Compute the weighted score
    return (v/(v+m) * R) + (m/(m+v) * C)

In [20]:
# Compute the score using the weighted_rating function defined above
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)

In [21]:
#Sort movies in descending order of their scores
q_movies = q_movies.sort_values('score', ascending=False)

#Print the top 25 movies
q_movies[['title', 'vote_count', 'vote_average', 'score', 'runtime']].head(25)

                                 title  vote_count  ...     score  runtime
10309      Dilwale Dulhania Le Jayenge       661.0  ...  8.855148    190.0
314           The Shawshank Redemption      8358.0  ...  8.482863    142.0
834                      The Godfather      6024.0  ...  8.476278    175.0
40251                       Your Name.      1030.0  ...  8.366584    106.0
12481                  The Dark Knight     12269.0  ...  8.289115    152.0
2843                        Fight Club      9678.0  ...  8.286216    139.0
292                       Pulp Fiction      8670.0  ...  8.284623    154.0
522                   Schindler's List      4436.0  ...  8.270109    195.0
23673                         Whiplash      4376.0  ...  8.269704    105.0
5481                     Spirited Away      3968.0  ...  8.266628    125.0
2211                 Life Is Beautiful      3643.0  ...  8.263691    116.0
1178            The Godfather: Part II      3418.0  ...  8.261335    200.0
1152   One Flew Over the Cuckoo's Nest      3001.0  ...  8.256051    133.0
1176                            Psycho      2405.0  ...  8.245381    109.0
351                       Forrest Gump      8147.0  ...  8.184252    142.0
1184       Once Upon a Time in America      1104.0  ...  8.183804    229.0
1154           The Empire Strikes Back      5998.0  ...  8.178656    124.0
18465                 The Intouchables      5410.0  ...  8.176357    112.0
289             Leon: The Professional      4293.0  ...  8.170276    110.0
3030                    The Green Mile      4166.0  ...  8.169381    189.0
1170                        GoodFellas      3211.0  ...  8.160414    145.0
2216                American History X      3120.0  ...  8.159278    119.0
1161                      12 Angry Men      2130.0  ...  8.140785     96.0
9698              Howl's Moving Castle      2049.0  ...  8.138499    119.0
2884                 Princess Mononoke      2041.0  ...  8.138264    134.0

[25 rows x 5 columns]